version: 2

updates:
  - package-ecosystem: "npm"
    open-pull-requests-limit: 20
    directory: "/"
    versioning-strategy: increase
    schedule:
      interval: "weekly"
    groups:
      npm-slidesk-dependencies:
        patterns:
          - "slidesk"
      npm-development-dependencies:
        dependency-type: "development"

  - package-ecosystem: github-actions
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: weekly
    groups:
      github-actions-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "devcontainers"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: weekly

  - package-ecosystem: "docker"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      docker-dependencies:
        patterns:
          - "*"
