name: Common Continuous Integration tasks

on:
  workflow_call:
    outputs:
      build-artifact-id:
        description: "The artifact ID of the build output"
        value: ${{ jobs.build.outputs.build-artifact-id }}
      build-path:
        description: "The path to the build output"
        value: ${{ jobs.build.outputs.build-path }}

permissions: {}

env:
  SLIDES_BUILD_PATH: ./packages/slides/build

jobs:
  linter:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/linter.yml@5ac504609f6ef35c5ac94bd8199063aa32104721 # 0.31.3
    permissions:
      actions: read
      contents: read
      security-events: write
      statuses: write

  build:
    name: Build and verify SliDesk theme
    needs: [linter]
    runs-on: ubuntu-latest
    outputs:
      build-artifact-id: ${{ steps.upload-build.outputs.artifact-id }}
      build-path: ${{ env.SLIDES_BUILD_PATH }}
    container: gouz/slidesk
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Build example slides
        run: slidesk -s "$SLIDES_BUILD_PATH" ./packages/slides

      - name: Upload build artifacts
        id: upload-build
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #v5.0.0
        with:
          name: build-output
          path: ${{ env.SLIDES_BUILD_PATH }}
          if-no-files-found: error
