name: Semantic Pull Request

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

permissions: {}

jobs:
  semantic-pull-request:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/semantic-pull-request.yml@0.30.2
    permissions:
      pull-requests: read
