name: Stale

on:
  schedule:
    - cron: "0 0 * * *"

permissions: {}

jobs:
  stale:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/stale.yml@666b7b6eb000db3e8614647871fa60c9f1eb7179 # 0.31.4
    permissions:
      issues: write
      pull-requests: write
