name: Stale

on:
  schedule:
    - cron: "0 0 * * *"

permissions: {}

jobs:
  stale:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/stale.yml@5ac504609f6ef35c5ac94bd8199063aa32104721 # 0.31.3
    permissions:
      issues: write
      pull-requests: write
